body {
    background-image: linear-gradient(to right, #6203fc, #d23dff);
}

.table {
    width: 80%;
    margin-left: 180px;
    margin-top: 150px;
    border-collapse: collapse;
}

.table-body {
    background-color: white;

}

.header {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #444954;
    height: 40px;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    font-weight: bold;
}